{% extends "base.html" %}
{% load static %}
{% block header %}
<div class="hero-content">
    <h2>امکانات فاکتورنت</h2>
    <p>فاکتورنت، ابزار هوشمند برای ساخت، ذخیره، و ارسال فاکتورهای حرفه‌ای با قابلیت ارسال تصویر فاکتور به ایمیل مشتری</p>
</div>
{% endblock header %}
{% block content %}
<section class="features">
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="user" />
      <h3>رابط کاربری آسان</h3>
      <p>با رابط کاربری فارسی و جذاب ما، فاکتور ساختن تبدیل به یک تفریح میشه!</p>
    </div>
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/512/633/633611.png" alt="secure" />
      <h3>امن و قابل اعتماد</h3>
      <p>اطلاعات مشتریان و فاکتورهای شما با رمزنگاری ایمن محافظت می‌شن.</p>
    </div>
    <div class="feature">
      <img src="https://cdn-icons-png.flaticon.com/512/942/942748.png" alt="email" />
      <h3>ارسال فاکتور تصویری</h3>
      <p>بعد از نهایی شدن فاکتور، به صورت خودکار تصویر اون برای خریدار و فروشنده ایمیل میشه.</p>
    </div>
</section>
{% endblock content %}