{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/invoice_create.css" %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mds.bs.datetimepicker@1.1.1/dist/mds.bs.datetimepicker.style.css">
{% endblock css %}
{% block js %}
<script src="{% static "js/invoice_create.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/mds.bs.datetimepicker@1.1.1/dist/mds.bs.datetimepicker.js"></script>
{% endblock js %}
{% block header %}
<div class="hero-content">
    <h2>ایجاد فاکتور جدید</h2>
    <p>فاکتور خود را با چند کلیک ساده بسازید و ذخیره کنید.</p>
</div>
{% endblock header %}
{% block content %}
<section class="invoice-form">
    <form id="invoiceForm" action="" method="POST">
        {% csrf_token %}
      <h3>اطلاعات مشتری</h3>
      <input type="text" name="customer_full_name" placeholder="نام کامل مشتری" required value="{{ invoice.customer }}">
      <input type="text" name="customer_phone_number" placeholder="شماره تلفن" value="{{ invoice.customer.phone_number }}">
      <input type="text" name="customer_national_code" placeholder="کد ملی" value="{{ invoice.customer.national_code }}">
      <input type="email" name="customer_email" placeholder="ایمیل" value="{{ invoice.customer.email }}">
      <textarea name="customer_address" placeholder="آدرس مشتری">{{ invoice.customer.address }}</textarea>

      <h3>جزئیات فاکتور</h3>
      {% if not invoice.invoice_number %}
      <input type="text" name="invoice_number" placeholder="شماره فاکتور" value="{{ invoice.invoice_number }}">
      {% endif %}
      <input type="date" name="due_date" id="dueDateInput" class="rtl-date" value="{{ invoice.due_date }}">
      <textarea name="notes" placeholder="یادداشت (اختیاری)">{{ invoice.notes }}</textarea>

      <h3>آیتم‌های فاکتور</h3>
      <input type="hidden" name="items-TOTAL_FORMS" id="id_items-TOTAL_FORMS" value="1">
      <input type="hidden" name="items-INITIAL_FORMS" id="id_items-INITIAL_FORMS" value="0">
      <input type="hidden" name="items-MIN_NUM_FORMS" id="id_items-MIN_NUM_FORMS" value="0">
      <input type="hidden" name="items-MAX_NUM_FORMS" id="id_items-MAX_NUM_FORMS" value="1000">
      <div id="itemsContainer">
        {% for item in invoice.items.all %}
        <div class="item-row">
          <input type="text" name="name_{{ item.id }}" value="{{ item.name }}" placeholder="نام آیتم" required>
          <input type="text" name="description_{{ item.id }}" value="{{ item.description }}" placeholder="توضیحات ( اختیاری )">
          <input type="number" name="quantity_{{ item.id }}" placeholder="تعداد" value="{{ item.quantity }}" oninput="calculateTotal()" class="quantity">
          <input type="number" name="unit_price_{{ item.id }}" value="{{ item.unit_price }}" placeholder="قیمت واحد" oninput="calculateTotal()" class="price">
          <button type="button" onclick="this.parentElement.remove(); calculateTotal()" class="remove-item">×</button>
        </div>
        {% endfor %}
      </div>
      <button type="button" class="btn" onclick="addItem()">افزودن آیتم</button>

      <div class="totals">
        <label>تخفیف (تومان) : <input type="number" name="discount" id="discount" value="{{ invoice.discount|floatformat:0 }}" oninput="calculateTotal()"></label>
        <label>مالیات (%): <input type="number" name="tax_percent" id="tax" value="{{ invoice.tax_percent }}" oninput="calculateTotal()"></label>
        <label>وضعیت:
          <select name="status">
            <option value="draft" {% if invoice.status == "draft" %}selected{% endif %}>پیش‌نویس</option>
            <option value="final" {% if invoice.status == "final" %}selected{% endif %}>نهایی</option>
            <option value="paid" {% if invoice.status == "paid" %}selected{% endif %}>پرداخت شده</option>
          </select>
        </label>
      </div>

      {% if not profile.signature %}
      <div class="signature">
        <label>امضا:</label>
        <canvas name="signature" id="signaturePad" width="300" height="150" style="border:1px solid #ccc;"></canvas>
        <button type="button" onclick="clearSignature()">پاک کردن امضا</button>
      </div>
      {% endif %}

      <div class="totalBox">
        مبلغ کل: <span id="totalAmount">
          {% if invoice.total %}
          {{ invoice.total|floatformat:0 }}
          {% else %}
          ۰
          {% endif %}
          </span> تومان
      </div>

      <button class="btn" type="submit">ذخیره فاکتور</button>
    </form>
</section>
{% endblock content %}