{% extends "base.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/invoice_create.css" %}">
{% endblock css %}
{% block js %}
<script src="{% static "js/invoice_create.js" %}"></script>
{% endblock js %}
{% block header %}
<div class="hero-content">
    <h2>ایجاد فاکتور جدید</h2>
    <p>فاکتور خود را با چند کلیک ساده بسازید و ذخیره کنید.</p>
</div>
{% endblock header %}
{% block content %}
<section class="invoice-form">
    <form id="invoiceForm" action="" method="POST">
        {% csrf_token %}
      <h3>اطلاعات مشتری</h3>
      <input type="text" placeholder="نام کامل مشتری" required value="{{ invoice.customer }}">
      <input type="text" placeholder="شماره تلفن" value="{{ invoice.customer.phone_number }}">
      <input type="text" placeholder="کد ملی" value="{{ invoice.customer.national_code }}">
      <input type="email" placeholder="ایمیل" value="{{ invoice.customer.email }}">
      <textarea placeholder="آدرس مشتری">{{ invoice.customer.address }}</textarea>

      <h3>جزئیات فاکتور</h3>
      <input type="text" placeholder="شماره فاکتور" value="{{ invoice.invoice_number }}">
      <input type="date" placeholder="تاریخ سررسید" value="{{ invoice.due_date }}">
      <textarea placeholder="یادداشت (اختیاری)">{{ invoice.notes }}</textarea>

      <h3>آیتم‌های فاکتور</h3>
      <div id="itemsContainer"></div>
      <button type="button" class="btn" onclick="addItem()">افزودن آیتم</button>

      <div class="totals">
        <label>تخفیف (تومان) : <input type="number" id="discount" value="{{ invoice.discount|floatformat:0 }}" oninput="calculateTotal()"></label>
        <label>مالیات (%): <input type="number" id="tax" value="{{ invoice.tax_percent }}" oninput="calculateTotal()"></label>
        <label>وضعیت:
          <select name="status">
            <option value="draft" {% if invoice.status == "draft" %}selected{% endif %}>پیش‌نویس</option>
            <option value="final" {% if invoice.status == "final" %}selected{% endif %}>نهایی</option>
            <option value="paid" {% if invoice.status == "paid" %}selected{% endif %}>پرداخت شده</option>
          </select>
        </label>
      </div>

      {% if not profile.signature %}
      <div class="signature">
        <label>امضا:</label>
        <canvas id="signaturePad" width="300" height="150" style="border:1px solid #ccc;"></canvas>
        <button type="button" onclick="clearSignature()">پاک کردن امضا</button>
      </div>
      {% endif %}

      <div class="totalBox">
        مبلغ کل: <span id="totalAmount">
          {% if invoice.total %}
          {{ invoice.total|floatformat:0 }}
          {% else %}
          ۰
          {% endif %}
          </span> تومان
      </div>

      <button class="btn" type="submit">ذخیره فاکتور</button>
    </form>
</section>
{% endblock content %}