{% extends "base_control_panel.html" %}
{% load static %}
{% block header_title %}خانه{% endblock header_title %}
{% block main %}
<div class="container_main">
    <div class="letf_content_main">
        <div class="chart_bitcoin box_shadow">
            <div class="row_chart_bitcoin">
                <h5>نمودار فاکتورنت</h5>
                <div class="filter_chart_bitcoin">
                    
                </div>
            </div>
            <div class="row_bitcoin_btc">
                <div class="filter_btc">
                    <div>
                        <h5>تعداد فاکتورهای این هفته:</h5>
                    </div>
                    <span>۱۲</span>
                </div>
                <div class="filter_btc_page">
                    <button class="active_btn" id="one_btn">1W</button>
                    <button class="" id="">1M</button>
                    <button class="" id="">1Y</button>
                </div>
            </div>
            <div class="" id="chart_bitcoin_btc"></div>
        </div>
    </div>
    <div class="right_content_main">
        <div class="section_coins">   
        </div>
    </div>
</div>
{% endblock main %}