{% extends "base_control_panel.html" %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static "css/messages.css" %}">
{% endblock css %}
{% block header_title %}پیام ها{% endblock header_title %}
{% block main %}
<div class="messages-section">
    <table class="message-table">
      <thead>
        <tr>
          <th>نام کامل</th>
          <th>ایمیل</th>
          <th>متن پیام</th>
        </tr>
      </thead>
      <tbody>
          {% for message in messages %}
          <tr>
          <td data-label="نام کامل">{{ message.full_name }}</td>
          <td data-label="ایمیل">{{ message.email }}</td>
          <td data-label="متن پیام">{{ message.message }}</td>
          </tr>
          {% empty %}
          <tr><td colspan="6">هیچ پیامی ثبت نشده است.</td></tr>
          {% endfor %}
      </tbody>
    </table>
</div>
{% endblock main %}